/* Common styles */

*{
    font-family: 'Poppins', sans-serif;
}
.card-button-bg{
    background-color: #FEF5FA;
    padding: 15px 60px;
    border-radius: 25px;
    border: none;
    color: #3F87F5;
}
#highlight-card{
    background-color: #3F87F5;
    position: relative;
    top: -40px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}
#badge-hot{
    position: absolute;
    top: 0;
    left: 80%;
}